body{
    display: grid;
    grid-template-rows: min-content 1fr;
    background:
        linear-gradient(135deg, rgb(250, 170, 148), rgba(255,0,0,0) 60%),
        linear-gradient(45deg, rgb(214, 120, 151), rgba(0,0,255,0) 60%),
        linear-gradient(225deg, rgb(108, 184, 219), rgba(0,255,0,0) 60%),
        linear-gradient(315deg, rgb(150, 98, 199) , rgba(0,255,0,0) 60%);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    counter-reset: division-counter -1;
}
h1 {
    color: rgb(51, 51, 51);
    text-align: center;
    font-family: Arial;
}
#calibrate {
    position: absolute;
    margin: 10px;
    border-radius: 3px;
    background: linear-gradient(to top right,rgb(44, 44, 44), rgb(70, 70, 70));
    color: white;
}
.ruler {
    width: 10.2cm;
    min-height: 50px;
    height: 10vh;
    max-height: 500px;
    border-radius: .1cm;
    background: 
        linear-gradient(to right, white .04cm, rgba(255,0,0,0) .04cm) .1cm  100% /  1cm .8cm,
        linear-gradient(to right, white .02cm, rgba(255,0,0,0) .02cm) .2cm  100% / .5cm .4cm,
        linear-gradient(to right, white .02cm, rgba(255,0,0,0) .02cm) .3cm  100% / .5cm .4cm,
        linear-gradient(to right, white .02cm, rgba(255,0,0,0) .02cm) .4cm  100% / .5cm .4cm,
        linear-gradient(to right, white .02cm, rgba(255,0,0,0) .02cm) .5cm  100% / .5cm .4cm,
        linear-gradient(to right, white .02cm, rgba(255,0,0,0) .02cm) .6cm  100% /  1cm .6cm,
        linear-gradient(to top right,rgb(44, 44, 44), rgb(70, 70, 70));
    background-repeat: repeat-x;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.divisions::before {
    content: counter(division-counter);
    counter-increment: division-counter;
}
.divisions {
    color: white;
    padding-bottom: .75cm;
    padding-left: .01cm;
}
pinch-zoom {
    width: 100%;
    height: 100%;
    position: absolute;
    place-items: center;
    text-align: center;
}