body{
    display: grid;
    place-items: center;
    text-align: center;
    background:
        linear-gradient(135deg, rgb(250, 170, 148), rgba(255,0,0,0) 60%),
        linear-gradient(45deg, rgb(214, 120, 151), rgba(0,0,255,0) 60%),
        linear-gradient(225deg, rgb(108, 184, 219), rgba(0,255,0,0) 60%),
        linear-gradient(315deg, rgb(150, 98, 199) , rgba(0,255,0,0) 60%);
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.ruler {
    width: 10cm;
    min-height: 50px;
    height: vh;
    max-height: 500px;
    border-radius: .2em;
    background: 
        linear-gradient(to right, white 15%, rgba(255,0,0,0) 15%) .8% 100% / .2325em .8em,
        linear-gradient(to right, white 6%, rgba(255,0,0,0) 6%) .8% 100% / 1.1625em 1em,
        linear-gradient(to right, white 4%, rgba(255,0,0,0) 4%) .8% 100% / 2.325em 1.5em,
        linear-gradient(to top right,rgb(44, 44, 44), rgb(70, 70, 70));
    background-repeat: repeat-x;
}
